* {
    box-sizing: border-box;
}

.d-header {
    background-color: #3B8FFF;
}

.d-nav {
    width: 100%;
    color: #fff;
    padding: 0px;
    box-shadow: 0px 1px 1px #7C93B2;
    margin-bottom: 4px;
    height: auto;
    overflow: hidden;
    /*transition: height 3s;*/
}

.d-hidden .d-nav-item {
    height: 0px;
    opacity: 0;
}

.d-nav-item, .d-nav-item-right {
    display: block;
    font-family: "Noto Sans", sans-serif;
    height: 38px;
    opacity: 1;
    transition-property: height, opacity;
    transition-duration: 0.5s;
}

.d-nav-item-right {
    margin-left: auto;   
}

.d-nav-item:hover {
    background-color: #7C93B2;
}

.d-nav ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

article {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.d-nav-item a {
    padding: 8px 16px 8px 16px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.d-nav-item a:hover {
    padding: 8px 16px 8px 16px;
    color: #fff;
    display: block;
    text-decoration: none;
}

img {
    margin: 4px 16px;
}

.d-main-flow {
    max-width: 1024px;
    margin: 0px auto;
}

article h1 {
    color: #7C93B2;
}

.d-article {
    width: 100%;
    display: inline-block;
    margin: 0px auto;
}

.d-column {
    width: 100%;
    max-width: 512px;
    float: left;
    padding: 8px 16px;
}

.d-center {
    display: block;
    margin: 0px auto;
}

.d-article-image {
    display: block;
    margin: 0px auto;
}

.d-clear:after {
    content: "";
    clear: both;
    display: block;
}

.d-award {
    margin-bottom: 48px;
    min-height: 153px;
}

.d-give-award-btn {
    position:relative;
    margin: 0px auto;
    background-color: #3B8FFF;
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 1px #7C93B2;
    width: 60%;
    color: white;
}

.d-give-award-btn:hover {
    background-color: #A8CC1B;
    box-shadow: 0px 3px 1px #95B221;
}

.d-give-award-btn:active {
    background-color: #A8CC1B;
    box-shadow: none;
    outline: none;
    top: 3px;
}

.d-give-award-btn:focus {
    outline: none;
}

.d-give-award-btn h3 {
    margin: 8px;
}

.d-award h3 {
    text-align: center;
    color: #7C93B2;
}

.d-mobile-header {
    color: white;
    padding: 8px 16px;
}

.d-btn-list {
    padding: 0;
    text-align: center;
    width: 100%;
}
