* {
    box-sizing: border-box;
}

.nav {
    width: 100%;
    background-color: #3B8FFF;
    color: #fff;
    padding: 0px;
    box-shadow: 0px 1px 1px #7C93B2;
    margin-bottom: 4px;
}

.nav-item, .nav-item-right {
    display: block;
}

.nav-item-right {
    margin-left: auto;   
}

.nav-item:hover {
    background-color: #7C93B2;
}

.nav ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
}

article {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

nav a {
    padding: 8px 16px 8px 16px;
    color: #fff;
    display: block;
}

img {
    margin: 4px 16px;
}

.main-flow {
    max-width: 1024px;
    margin: 0px auto;
}

article h1 {
    color: #7C93B2;
}

.article {
    width: 100%;
    display: inline-block;
}

.column {
    width: 100%;
    max-width: 512px;
    float: left;
    padding: 8px 16px;
}

.center {
    display: block;
    margin: 0px auto;
}

.article-image {
    display: block;
    margin: 0px auto;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.award {
    margin-bottom: 48px;
    min-height: 153px;
}

.give-award-btn {
    position:relative;
    margin: 0px auto;
    background-color: #3B8FFF;
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 1px #7C93B2;
    width: 60%;
    color: white;
}

.give-award-btn:hover {
    background-color: #A8CC1B;
    box-shadow: 0px 3px 1px #95B221;
}

.give-award-btn:active {
    background-color: #A8CC1B;
    box-shadow: none;
    outline: none;
    top: 3px;
}

.give-award-btn:focus {
    outline: none;
}

.award h3 {
    text-align: center;
    color: #7C93B2;
}
