.nav {
    width: 100%;
    background-color: #3B8FFF;
    color: #fff;
    padding: 0px;
    box-shadow: 0px 1px 1px #7C93B2;
    margin-bottom: 4px;
}

.nav-item {
    display: block;
}

.nav-item:hover {
    background-color: #A8CC1B ;
}

.nav ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
}

article {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

nav a {
    padding: 8px 16px 8px 16px;
    color: #fff;
    display: block;
}

img {
    margin: 4px 16px;
}

.main-flow {
    max-width: 1024px;
    margin: 0px auto;
}


article h1 {
    color: #7C93B2;
}
