/* high5-min640.css */

.d-nav-item, .d-nav-item-right {
    display: inline-block;
}

.d-article-image {
    float: left;
    margin: 0px 16px 16px 16px;
}

.d-award h3 {
    text-align: left;
}

.d-mobile-header {
    display: none;
}


.d-nav {
    display: block;
    height: auto;
}

.d-hidden .d-nav-item {
    /* Disable on desktop */
    height: auto;
    opacity: 1;
}
